@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.contact{

    background: linear-gradient(200deg, rgba(213, 213, 213, 0.01) 0%, rgba(213, 213, 213, 0.01) 14.286%,rgba(140, 140, 140, 0.01) 14.286%, rgba(140, 140, 140, 0.01) 28.572%,rgba(52, 52, 52, 0.01) 28.572%, rgba(52, 52, 52, 0.01) 42.858%,rgba(38, 38, 38, 0.01) 42.858%, rgba(38, 38, 38, 0.01) 57.144%,rgba(159, 159, 159, 0.01) 57.144%, rgba(159, 159, 159, 0.01) 71.42999999999999%,rgba(71, 71, 71, 0.01) 71.43%, rgba(71, 71, 71, 0.01) 85.71600000000001%,rgba(88, 88, 88, 0.01) 85.716%, rgba(88, 88, 88, 0.01) 100.002%),linear-gradient(337deg, rgba(25, 25, 25, 0.01) 0%, rgba(25, 25, 25, 0.01) 12.5%,rgba(150, 150, 150, 0.01) 12.5%, rgba(150, 150, 150, 0.01) 25%,rgba(84, 84, 84, 0.01) 25%, rgba(84, 84, 84, 0.01) 37.5%,rgba(85, 85, 85, 0.01) 37.5%, rgba(85, 85, 85, 0.01) 50%,rgba(188, 188, 188, 0.01) 50%, rgba(188, 188, 188, 0.01) 62.5%,rgba(80, 80, 80, 0.01) 62.5%, rgba(80, 80, 80, 0.01) 75%,rgba(73, 73, 73, 0.01) 75%, rgba(73, 73, 73, 0.01) 87.5%,rgba(219, 219, 219, 0.01) 87.5%, rgba(219, 219, 219, 0.01) 100%),linear-gradient(203deg, rgba(233, 233, 233, 0.01) 0%, rgba(233, 233, 233, 0.01) 25%,rgba(114, 114, 114, 0.01) 25%, rgba(114, 114, 114, 0.01) 50%,rgba(164, 164, 164, 0.01) 50%, rgba(164, 164, 164, 0.01) 75%,rgba(228, 228, 228, 0.01) 75%, rgba(228, 228, 228, 0.01) 100%),linear-gradient(317deg, rgba(139, 139, 139, 0.02) 0%, rgba(139, 139, 139, 0.02) 16.667%,rgba(44, 44, 44, 0.02) 16.667%, rgba(44, 44, 44, 0.02) 33.334%,rgba(166, 166, 166, 0.02) 33.334%, rgba(166, 166, 166, 0.02) 50.001000000000005%,rgba(2, 2, 2, 0.02) 50.001%, rgba(2, 2, 2, 0.02) 66.668%,rgba(23, 23, 23, 0.02) 66.668%, rgba(23, 23, 23, 0.02) 83.33500000000001%,rgba(21, 21, 21, 0.02) 83.335%, rgba(21, 21, 21, 0.02) 100.002%),linear-gradient(328deg, rgba(3, 3, 3, 0.03) 0%, rgba(3, 3, 3, 0.03) 12.5%,rgba(116, 116, 116, 0.03) 12.5%, rgba(116, 116, 116, 0.03) 25%,rgba(214, 214, 214, 0.03) 25%, rgba(214, 214, 214, 0.03) 37.5%,rgba(217, 217, 217, 0.03) 37.5%, rgba(217, 217, 217, 0.03) 50%,rgba(68, 68, 68, 0.03) 50%, rgba(68, 68, 68, 0.03) 62.5%,rgba(118, 118, 118, 0.03) 62.5%, rgba(118, 118, 118, 0.03) 75%,rgba(200, 200, 200, 0.03) 75%, rgba(200, 200, 200, 0.03) 87.5%,rgba(198, 198, 198, 0.03) 87.5%, rgba(198, 198, 198, 0.03) 100%),linear-gradient(97deg, rgba(195, 195, 195, 0.03) 0%, rgba(195, 195, 195, 0.03) 16.667%,rgba(177, 177, 177, 0.03) 16.667%, rgba(177, 177, 177, 0.03) 33.334%,rgba(170, 170, 170, 0.03) 33.334%, rgba(170, 170, 170, 0.03) 50.001000000000005%,rgba(158, 158, 158, 0.03) 50.001%, rgba(158, 158, 158, 0.03) 66.668%,rgba(121, 121, 121, 0.03) 66.668%, rgba(121, 121, 121, 0.03) 83.33500000000001%,rgba(146, 146, 146, 0.03) 83.335%, rgba(146, 146, 146, 0.03) 100.002%),linear-gradient(268deg, rgba(103, 103, 103, 0.03) 0%, rgba(103, 103, 103, 0.03) 25%,rgba(112, 112, 112, 0.03) 25%, rgba(112, 112, 112, 0.03) 50%,rgba(4, 4, 4, 0.03) 50%, rgba(4, 4, 4, 0.03) 75%,rgba(227, 227, 227, 0.03) 75%, rgba(227, 227, 227, 0.03) 100%),linear-gradient(90deg, hsl(98,0%,0%),hsl(98,0%,0%))
}

.contact h3,
.contact p
{
    color: #fff;
}

.contact p
{
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: 250;
}



.contactForm{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}

.contactForm form{
    width: 100%;
    justify-content: space-between;

}

.contactForm .row100
{
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: space-between;
}

.contactForm .row100 .inputBx50
{
    width: 50%;
    position: relative;
    height: 50px;
    margin: 0px 20px;
    
    overflow: hidden;
}
.contactForm .row100 .inputBx50 input{
    width: 100%;
    height: 100%;
    color: #595f6e;
    border: none;
    background: transparent;
    outline: none;
    padding-top: 20px;

}

.contactForm .row100 .inputBx50 label
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    text-align: left;
    color: white;
    border-bottom: 1px solid #fff;
    
}

.contactForm .row100 .inputBx50 label::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #00ffee;
    left: 0px;
    bottom: -1px;
    text-align: left;
    transform: translateX(-100%);  
    transition: transform 0.3s ease;
}



.content-name
{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}
.contactForm 
{
    opacity: 0;
    transform: translate scale(0.8);
    transition: all 1s ease;

}
.contactForm[data-scroll="in"] 
{
    opacity: 1;
    transition-delay: 0.3s;
    transform: translate scale(1);
}


.contactForm .row100 .inputBx50 input:focus + .label-name .content-name,
.contactForm .row100 .inputBx50 input:valid + .label-name .content-name
{
    transform: translateY(-120%);
    color: #00ffee;
    font-size: 14px;
}

.contactForm .row100 .inputBx50 input:focus + .label-name::after,
.contactForm .row100 .inputBx50 input:valid + .label-name::after
{
    transform: translateX(0%);
}


.contactForm .row100 .inputBx100{

    width: 100%;
    height: 100px;
    margin: 0 20px;
    position: relative;
    overflow: hidden;

}
.contactForm .row100 .inputBx100 textarea
{
    width: 100%;
    height: 100px;
    color: #595f6e;
    border: none;
    background: transparent;
    outline: none;
    padding-top: 75px;;
    resize: none;
}

.contactForm .row100 .inputBx100 label
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    text-align: left;
    color: white;
    border-bottom: 1px solid #fff;
    
}

.contactForm .row100 .inputBx100 label::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #00ffee;
    left: 0px;
    bottom: -1px;
    text-align: left;
    transform: translateX(-100%);  
    transition: transform 0.5s ease;
}

.contactForm .row100 .inputBx100 textarea:focus + .label-name .content-name,
.contactForm .row100 .inputBx100 textarea:valid + .label-name .content-name
{
    transform: translateY(-350%);
    color: #00ffee;
    font-size: 14px;
}

.contactForm .row100 .inputBx100 textarea:focus + .label-name::after,
.contactForm .row100 .inputBx100 textarea:valid + .label-name::after
{
    transform: translateX(0%);
}




.contactForm .row100 button[type="submit"]
{
    background: none;
    position: relative;
    color: #fff;
    width: 120px;
    height: 40px;
    border: 1px solid #00ffee;
    font-size: 17px;
    border-radius: 4px;
    transition: 0.9s;
    overflow: hidden;
    
}

.contactForm .row100 button[type="submit"]:focus
{
    outline: none;
}

.contactForm .row100 button[type="submit"]:before
{
  content: "";
  display: block;
  position: absolute;
  background: rgba(255,255,255,0.5);
  width: 30px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
  

}

.contactForm .row100 button[type="submit"]:after
{
    content: "";
    position: absolute;
    background: rgba(255,255,255,0.2);
    width: 15px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
    
  
}

.contactForm .row100 button[type="submit"]:hover
{
    background: linear-gradient(-45deg,#0777f7 ,#00ffee);
    cursor: pointer;
}

.contactForm .row100 button[type="submit"]:hover:before
{
    transform: translateX(300px) skewX(-15deg);
    opacity: 0.6;
    transition: 1s;
    
}

.contactForm .row100 button[type="submit"]:hover:after
{
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: 1s;
   
}



.sci{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.sci ul{
    display: flex;
}
.sci ul li{

    list-style: none;
    opacity: 0;
    transition: all 0.8s ease;
    transform: translateY(+12px);
}

.sci ul li:nth-child(1)[data-scroll="in"] 
{
 opacity: 1;
 transform: translateY(0);
 transition-delay: 0.3s;
}
.sci ul li:nth-child(2)[data-scroll="in"] 
{
 opacity: 1;
 transform: translateY(0);
 transition-delay: 0.5s;
}
.sci ul li:nth-child(3)[data-scroll="in"] 
{
 opacity: 1;
 transform: translateY(0);
 transition-delay: 0.7s;
}

.sci ul li:nth-child(4)[data-scroll="in"] 
{
 opacity: 1;
 transform: translateY(0);
 transition-delay: 0.9s;
}

.sci ul li a{
 text-decoration: none;
 display: inline-block;
 margin: 0 30px;
}

.sci ul li a img {
    filter: invert(1);
    max-width: 20px;
}

.sci ul li a:hover img{
    opacity: 0.5;
}

.copyright{
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 200;
    padding-top: 40px;
    bottom: 5px;
}

.copyright span img
{
    max-width: 30px;
}
.copyright span
{
    padding-left: 2px;
    padding-right: 5px;
}
.copyright .heart img
{
    transition: 0.5s ease;
    animation: pulse 4s linear infinite;
}


.copyright a
{
    color: #fff;
    text-decoration: none;
}

@keyframes pulse
{
    0%
    {
        transform: scale(1);

    }
    25%
    {
        transform: scale(0.8);

    }
    50%
    {
        transform: scale(1);

    }
    75%
    {
        transform: scale(0.8);

    }
    100%
    {
        transform: scale(1);

    }
}
